body,
html {
  height: 100%;
  width: 100%;
  font-family: "Khand", "sans-serif", "FontAwesome";
  font-weight: 300;
  line-height: 1.3;
  color: #444;
  hyphens: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: #c2c2c2;
}

a:hover {
  text-decoration: none;
  color: #000;
}

.container {
  display: flex;
  justify-content: space-around;
}

h1 {
  font-size: 4vw;
  text-align: center;
}

.infobox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-pic {
  border-radius: 50%;
  height: auto;
  width: auto;
  max-width: 30vw;
  min-width: 186px;
  -webkit-filter: grayscale(30%);
  filter: grayscale(30%);
}

.links {
  font-size: 3vw;
  text-align: center;
}

.tags {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.tags > span {
  font-size: 2vw;
}

@media (max-width: 700px) { 
  h1 {
    font-size: 6vw !important;
  }
  .links {
    font-size: 5vw !important;
  }
  .tags > span {
    font-size: 4vw !important;
  }
}
